# Godot 4
.godot/
/android/

# Exports
export_presets.cfg
/build/
/builds/
/export/

# Mono / .NET
.mono/
data_*/
mono_crash.*.json
bin/
obj/
*.user

# IDE
.vs/
.idea/
.vscode/
*.sln
*.csproj.user

# OS
.DS_Store
Thumbs.db
